{% extends "base.html" %}

{% block content %}
<p>Click <a href="/logout">here</a> to logout.</p>
	<div class="eventBlock">
	{% for event in events %}
	<div class="event">
	<h2 class="eventName">{{ event.eventName }}</h2>
	<h3 class="eventRating">This Event Has {{ event.eventRating }} Upvotes!</h3>
	<div class="locationDetails"><h3>STARTS AT:</h3><p> {{ event.eventStart }}</p><br><h3>ENDS AT:</h3><p> {{ event.eventEnd }}</p><br><h3>LOCATION:</h3><p> {{ event.locationName }}</p><br><h3>ADDRESS:</h3><p> {{ event.locationAddress }}</p><br></div>
	</div>
	{% endfor %}
	<div class="eventBlock">
{% endblock %}